@charset "utf-8";

@media screen and (min-width: 480px) {
    body {
        background-color: #00f;
    }

    h1 {
        font-size: 2em;
        border-style: dashed;
    }
}

@media screen and (max-width: 300px) {
    h1 {
        border-style: solid;
    }

    body {
        background-color: #ccc;
    }
}